
#temaBody{
  background-color:#000000;
}

#listaTemas li{
  display:inline;
  padding-left:3px;
  padding-right:3px;
  list-style: none;
  align-items: right;
 
}

li{
margin-left:10px;
color:#FFFFFF;
}

  #colorTema{

    text-align:rigth;
    margin:0 auto;
  }
  
  #nombreEmpresa{
    font-weight:bold;
    font-size: 25px;
    text-align:center;
    align-content: center;
    margin-left:20 px;
    padding-left:20 px;
  } 
  

  #logo{

    width:100px;
    height:100px;
    vertical-align: middle;
  }
  
  .navbar {
    background-color: #000000;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF; 
    text-align: left;
  }
  
  .navbar-brand{
    background-color: #000000;
    color: #FFFFFF; 
  }

  #botonWhite{
    background-color: #FFFFFF;
    color: #000000;
  }
  
  #botonBlack{
    background-color:#000000;
    border-color: #FFFFFF;
    color: #FFFFFF;
    
  }

  
#formPassword{
  align-items: left;
  margin:15px;
  padding : 8px;
  color:#FFFFFF;
  font-size:17px;

}

#buttonPassword{
  color:#0c0a04;
  text-align: center;
  background-color: #ffe400;
  align-content: left;
  border:none;
  cursor: pointer;
  vertical-align: middle;
  font-size:17px;

}

  #mensajePasswordEmpty{
    color: #FFFFFF;
    margin-top:15px;
    margin-bottom: 15px;
     
  }

#cardPorcentaje{ 
  padding : 0px;
  margin-bottom:25px;
}


#porcentajesTodosHeader, #passIngresadasHeader{
  background: #ffe400;
  color: #0c0a04;
  text-align: left;
}

#porcentajesTodos, #passIngresadas{
  background:  #0c0a04;
  
}


#colPorcentaje{
  display:inline-block;
  padding:0px;
  margin: 10px;
  color:#FFFFFF;
  text-align: left;
}

#progress{
  width:100%;
  height:60px;
  background-color: #FFFFFF;
  vertical-align: baseline;
  justify-content: center;
  
}

#rowPassIngresadas{
 
  padding:0px;
  margin: 0px;
  color:#FFFFFF;
  text-align: left;
}

#colSeguridadPassword{
  
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding : 5px;
}

#cardSeguridadPassword{
  
  width:400px;
  height:125px;
  margin: 0 auto;
}

#seguridadPasswordHeader{
  background:#ffe400;
  color: #0c0a04;
  text-align: center;
  }
  
  #seguridadPassword{
    background:#0c0a04;
    color:#FFFFFF;
    text-align: center;
    display:inline-block;
    font-size:22px;
  
  }

  #colCantidades{
    margin: 0 auto;
    padding : 8px;

  }
  
  
  #cardCantidades{
    width:260px;
    height:110px;
    margin: 0 auto;
    
  }

  #cardCantTotalCaracteres{
   
    height:110px;
    margin: 0 auto;
  }

#cantTotalCaracteresHeader, #cantNumHeader, #cantEspecialesHeader, #cantLetrasHeader,
#cantLetrasMayusHeader,#cantLetrasMinusHeader,#cantIgualesHeader,#cantConsecutivosHeader,
#cantDistintosHeader,#secTipoNumsHeader, #secTipoLetrasHeader,#secTipoEspecialesHeader
{
  background: #ffe400;
  color:#0c0a04;
  text-align: center;
  font-size:17px;
}

#cantTotalCaracteres, #cantNum, #cantEspeciales, #cantLetras, #cantLetrasMayus, #cantLetrasMinus,
#cantIguales, #cantConsecutivos,#cantDistintos,#secTipoNums,#secTipoLetras,#secTipoEspeciales
{
  background: #0c0a04;
  color:#FFFFFF;
  display:inline-block;
  text-align: center;
  font-size:17px;
}


#cardAclaraciones{ 
  padding : 0px;
  margin-top:25px;
  margin-bottom: 30px;
}

#aclaracionesHeader{
  background: #ffe400;
  color:#0c0a04;
  text-align: left;
}

#aclaraciones{
  background: #0c0a04;
  color:#FFFFFF;
  display:inline-block;
  text-align: left;
}

#footer{
  background: #FBD900;
  color:#000000;
  text-align: center;
}

#copyright{
  margin-top:10px;
  margin-bottom: 10px;
}