li {
    list-style: none;
    padding-left: 16px;
  }

  #logo{

    width:100px;
    height:100px;
  }
  
  .navbar {
    background-color: #000000;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF; 
  }
  
  .navbar-brand{
    background-color: #000000;
    color: #FFFFFF; 
  }

  #botonWhite{
    background-color: #FFFFFF;
    color: #000000;
  }
  
  #botonBlack{
    background-color:#000000;
    border-color: white;
    color: #FFFFFF;
    
  }
  #mensajePasswordEmpty{
    opacity: 0.0;
    background: #000000;
    color: white;
    
  }

